#table_title{
    caption-side: top;
    color: black;
    font-size: 24px;
}

#table_title2{
    caption-side: top;
    color: black;
    font-size: 24px;
}

#cola{
    margin-top: 100px;
    table-layout: fixed;
}

#cola_2{
    table-layout: fixed;
}

@media (min-width:720px)
{
    #table_title{
        color: white;
    }
    
    #table_title2{
        color: white;
    }

    #cola{
        float: left;
        margin-left: 1%;
        margin-right: 0.5%;
        width: 48.5%;
    }

    #cola_2{
        margin-top: 100px;
        float: left;
        margin-left: 0.5%;
        margin-right: 1%;
        width: 48.5%;
    }

}
