#table_title{
    caption-side: top;
    color: black;
    font-size: 24px;
}

#table_title2{
    caption-side: top;
    color: black;
    font-size: 24px;
}

#cola{
    margin-top: 100px;
    table-layout: fixed;
}

#cola_2{
    table-layout: fixed;
}

#n_orden{
    margin-left: 10px;
}

#estado{
    margin-left: 10px;
}

#boton_estado{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.form_orden{
    width: 30%;
}
.label_orden{
    text-align: left; 
    margin-left: 10px;
    color: black;
    margin-top: 10px;
}

@media (min-width:720px)
{
    #cola{
        float: left;
        margin-left: 1%;
        margin-right: 0.5%;
        width: 48.5%;
    }

    #cola_2{
        margin-top: 100px;
        float: left;
        margin-left: 0.5%;
        margin-right: 1%;
        width: 48.5%;
        
    }

}
